<mat-card>


<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Shooter Name">
    </mat-form-field>
 <br /> 
    <mat-form-field>
      <input matInput placeholder="Shooter's Score">
    </mat-form-field>
 <br /> 
    <mat-form-field>
      <textarea matInput placeholder="Notes on Shooter"></textarea>
    </mat-form-field>
 <br /> 
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Pulled from range</mat-option>
        <mat-option value="option">Shooter needs coaching</mat-option>
        <mat-option value="option">Needs one-on-one training</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  


</mat-card>