.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.active {
  color: #C2175B;
}

.mat-card {
  box-shadow: 2px 2px 5px white; 
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.mainHeader {
  border: 1px solid gray;
padding-left: 20px;  
border-radius: 5px;

}