<mat-card *ngIf='title'  [style.backgroundColor]="'#223355'"> 
<h1  routerLink="/" >{{ title }}</h1>

<button mat-button [matMenuTriggerFor]="aboveMenu1" >Scoring</button>
<mat-menu #aboveMenu1="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/scoring" routerLinkActive="active" routerLink="scoring">NHQC</button>
  <button mat-menu-item>RQC</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu1">3591</button>
<mat-menu #belowMenu1="matMenu" yPosition="below">
  <button mat-menu-item>Intro</button>
  <button mat-menu-item>Safety Brief</button>
  <button mat-menu-item>NHQC</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">GM Manual</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/manual">Explosives</button>
  <button mat-menu-item>Chapter 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Ammo</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/ammo">9mm</button>
  <button mat-menu-item>M-16 </button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="aboveMenu" >Range Gear</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
</mat-menu>


<br /> 

</mat-card>





<router-outlet></router-outlet>
