<mat-card>
<div class="mainHeader">
<h1 class="">{{ title }}</h1>
<p>Resources for the toughest job in the Navy</p>
</div>
</mat-card>

<br /> 
<mat-card>
<mat-menu #belowMenu2="matMenu" yPosition="below"></mat-menu>
<button mat-button routerLink="/home" >Home</button>
<mat-menu #aboveMenu1="matMenu" yPosition="below"></mat-menu>
<button mat-button  routerLink="/scoring" >Scoring</button>
<mat-menu #belowMenu1="matMenu" yPosition="below"></mat-menu>
<button mat-button  routerLink="/instruction" >3591</button>

<button mat-button [matMenuTriggerFor]="belowMenu" >GM Manual</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/manual">Explosives</button>
</mat-menu>

<!-- <button mat-button  >Range Gear</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
</mat-menu> -->
</mat-card>
<br />  
<router-outlet></router-outlet>
<br /> 


